@import "tailwindcss";
@variant dark (.dark &);

@theme {
  --color-primary: #7b1113;
  --color-secondary: #014421;
  --color-accent: #fbbf24;
  --color-subtle: var(--color-gray-500);
  --color-background: var(--color-gray-100);
  --color-surface: var(--color-white);
  --color-border: var(--color-gray-300);
  --color-text: var(--color-gray-900);

  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-primary: #dc3d4a;
    --color-secondary: #2b8a3e;
    --color-subtle: var(--color-gray-400);
    --color-background: #0a0a0a;
    --color-surface: #1a1a1a;
    --color-border: #2a2a2a;
    --color-text: var(--color-gray-200);
  }
}

.dark {
  --color-primary: #dc3d4a;
  --color-secondary: #2b8a3e;
  --color-subtle: var(--color-gray-400);
  --color-background: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-border: #2a2a2a;
  --color-text: var(--color-gray-200);
}

html:not(.dark) {
  --color-primary: #7b1113;
  --color-secondary: #014421;
  --color-accent: #fbbf24;
  --color-subtle: var(--color-gray-500);
  --color-background: var(--color-gray-100);
  --color-surface: var(--color-white);
  --color-border: var(--color-gray-300);
  --color-text: var(--color-gray-900);
}

@layer utilities {
  [class*="rounded"]:not([class*="rounded-full"]) {
    corner-shape: superellipse(1.2);
  }
}

@utility corner-smooth {
  corner-shape: superellipse(1.2) !important;
}

@utility corner-squircle {
  corner-shape: squircle !important;
}

@layer base {
  /* Base styles for HTML elements */
  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--text-4xl--line-height);
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
  }

  h3 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
  }

  p {
    margin-bottom: var(--spacing-4);
  }

  button {
    cursor: pointer;
    corner-shape: squircle !important;
    transition: transform 0.25s ease-in-out;
  }

  button:active {
    transform: scale(0.97);
  }
}
